.navbar-nav > a{
    border-left: darkgray 1px solid;
    font-family: 'Courier New', Courier, monospace;
    color:darkgrey!important;
}
.navbar-nav > a:hover{
    color:black!important;
}
a.active{
    color:black!important;
}
.navbar-brand{
    font-family: 'Courier New', Courier, monospace;
}
/*the above is css for the navigation bar*/

footer{
    background-color: black;
}
#footerText{
    color: darkgray;
}
/*the above is css for the footer*/

#forumContainer{
    background-color:#F5F5F5;
}

#newPostContainer{
    display: none;
}
#newPost{
    background-color:#F5F5F5;
}
.postButton{
    background-color: #080808;
    border: none;
}
.link-dark:hover{
    color: 	#696969;
}
#searchButton{
    background-color: #080808;
    border: none;
}