


#searchButton{
    background-color: #080808;
    border: none;
}


.responsiveText {
    font-size: calc(8px + 2vw);
    font-family: Garamond, serif;
}

#title{
    font-size: calc(10px + 2.5vw);
}

.entity{
    width: 100%;
    background-color: white;
    border-left: none;
    border-right: none;
    border-bottom: none;
    text-align: left;
}
.responsiveTextContent {
    font-size: calc(6px + 1.5vw);
    font-family: Garamond, serif;
}
