.navbar-nav > a {
    border-left: darkgray 1px solid;
    font-family: 'Courier New', Courier, monospace;
    color: darkgrey !important;
}

.navbar-nav > a:hover {
    color: black !important;
}

a.active {
    color: black !important;
}

.navbar-brand {
    font-family: 'Courier New', Courier, monospace;
}

/*the above is css for the navigation bar*/

footer {
    background-color: black;
}

#footerText {
    color: darkgray;
}

/*the above is css for the footer*/
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: hsla(90, 1%, 42%, 0.5);
    border: none;
}

#btn-back-to-top:hover {
    background-color: hsla(90, 2%, 75%, 0.5);
}

/*the above is css for the backToTop button*/

#searchButton{
    background-color: #080808;
    border: none;
}


.responsiveText {
    font-size: calc(8px + 2vw);
    font-family: Garamond, serif;
}

#title{
    font-size: calc(10px + 2.5vw);
}

.entity{
    width: 100%;
    background-color: white;
    border-left: none;
    border-right: none;
    border-bottom: none;
    text-align: left;
}
.responsiveTextContent {
    font-size: calc(6px + 1.5vw);
    font-family: Garamond, serif;
}
