

#postContainer{
    background-color:#F5F5F5;
}
.postArea{
    min-height: 500px;
}
.authorAndPostTime{
    position: absolute;
    bottom: 0;
}
#newCommentContainer{
    display: none;
}
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}