<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Portal</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/adminPortal.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
</head>
<body>
<input id="contextPath" type="hidden" th:value="${#servletContext.getContextPath()}"/>

<div class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
                    aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand" href="/homepage.html">IXN Online Experience</a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="/forum.html">Forum</a></li>
                    <li class="nav-item"><a class="nav-link" href="/news.html">News</a></li>
                    <li class="nav-item"><a class="nav-link" href="/projects.html">Projects</a></li>
                    <li class="nav-item"><a class="nav-link" href="/info.html">Info</a></li>
                </ul>
                <form action="/search" class="d-flex col-3" method="get">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="searchBarInput" name="content">
                    <button class="btn btn-outline-dark" type="submit" id="SearchBarButton"><i class="bi bi-search"></i></button>
                </form>
            </div>
        </div>
    </nav>
    <br><br>
    <main class="flex-fill">
        <header class="header" id="header">
            <div class="header_toggle"><i class='bx bx-menu' id="header-toggle"></i></div>
            <div class="header_img"><img src="https://i.imgur.com/hczKIze.jpg" alt=""></div>
        </header>
        <div class="l-navbar" id="nav-bar">
            <nav class="nav">
                <div><a href="#" class="nav_logo"> <i class='bx bx-layer nav_logo-icon'></i> <span
                        class="nav_logo-name">BBBootstrap</span> </a>
                    <div class="nav_list">
                        <a href="javascript:generalClicked()" class="nav_link active"> <i
                                class='bx bx-home nav_icon'></i><span class="nav_name">Dashboard</span></a>
                        <a href="javascript:forumClicked()" class="nav_link"> <i
                                class='bx bx-conversation nav_icon'></i> <span class="nav_name">Users</span></a>
                        <a href="javascript:newsClicked()" class="nav_link"> <i class='bx bx-news nav_icon'></i> <span
                                class="nav_name">Messages</span> </a>
                        <a href="javascript:projectsClicked()" class="nav_link"> <i class='bx bx-code-alt nav_icon'></i>
                            <span class="nav_name">Bookmark</span></a>
                        <a href="javascript:infoClicked()" class="nav_link" id="infoClicked"> <i
                                class='bx bx-info-square nav_icon'></i>
                            <span class="nav_name">Files</span></a>
                        <!--                        <a href="#" class="nav_link"> <i class='bx bx-bar-chart-alt-2 nav_icon'></i> <span class="nav_name">Stats</span> </a>-->
                    </div>
                </div>
                <a href="/homepage.html" class="nav_link"> <i class='bx bx-log-out nav_icon'></i> <span
                        class="nav_name">SignOut</span> </a>
            </nav>
        </div>
        <!--Container Main start-->
        <div>
            <div id="adminPortalForGeneral">
                <h1 class="display-1" th:text="|Welcome, ${adminName}|"></h1>
                <h1 class="display-1">Select an option from the side bar</h1>
                <hr>
                <button type="button" class="btn btn-dark btn-lg col-12 toggleButton rounded-0" id="generateReportButton">
                    generate report on user input
                </button>
                <hr>
                <div id="reportContainer">

                </div>
            </div>


            <div id="adminPortalForForum" class="d-none">
                <br><br>
                <h4 class="fw-bold">Forum management</h4>
                <label for="searchPost" class="h4 fw-bold">Please enter the title of the post you want to manage</label>
                <div class="row">
                    <div class="col-11">
                        <input type="text" class="form-control col-11" id="searchPost"
                               placeholder="Input post title here">
                    </div>
                    <div class="col-1">
                        <button class="btn btn-dark" id="search">search</button>
                    </div>
                </div>
                <hr/>
                <div class="container">
                    <div class="row">
                        <div class="col-5 fw-bold">
                            <p>Post title <br></p>
                        </div>
                        <div class="col-2 fw-bold">
                            <p>Post author <br></p>
                        </div>
                        <div class="col-2 fw-bold">
                            <p>Post time <br></p>
                        </div>
                    </div>
                </div>
                <p class="display-5 d-none" id="noMatchHint">Sorry, no post matches your search</p>
                <div class="container" id="postsContainer">
                </div>
            </div>


            <div id="adminPortalForNews" class="d-none">
                <br><br>
                <h4 class="fw-bold">News management</h4>
                <div id="newNewsContainer">
                    <div class="form-group col-6">
                        <label for="newNewsTopic"><strong>News Topic</strong></label>
                        <input type="text" class="form-control" id="newNewsTopic" placeholder="Enter the topic">
                    </div>
                    <div class="form-group col-6">
                        <label for="newNewsDate"><strong>News Date, Please use format YYYY-MM-DD (E.g.
                            2022-04-01)</strong></label>
                        <input type="text" class="form-control" id="newNewsDate" placeholder="Enter the date">
                    </div>
                    <div class="form-group col-12">
                        <label for="newNewsContent"><strong>Content</strong></label>
                        <textarea class="form-control" id="newNewsContent" rows="10"
                                  placeholder="Enter the content"></textarea>
                    </div>
                    <form action="https://api.imgbb.com/1/upload?key=a5b396af57e63d59b0a0c928a2f778de" method="post"
                          accept-charset="utf-8" class="form col-12" id="frm-reg" name="frm-reg">
                        <label for="formFile" class="form-label"><strong>Please upload the image for the news, accepted
                            formats:
                            jpg, bmp, png, jpeg, webp</strong></label>
                        <input class="form-control col-8" type="file" id="formFile" name="image">
                        <input class="btn btn-success btn-lg col-12 postButton  rounded-0" type="button" id="sub"
                               name="submit" value="confirm">
                    </form>
                </div>
                <button type="button" class="btn btn-dark btn-lg col-12 toggleButton rounded-0" id="addNews">add new
                    news
                </button>
                <hr>
                <div class="container-fluid row">
                    <br>
                    <h4 class="fw-bold col-5">Title</h4>
                    <h4 class="fw-bold col-5">Content</h4>
                    <br>
                    <hr>
                </div>
                <div id="allNewsContainer">
                </div>
            </div>


            <div id="adminPortalForProjects" class="d-none">
                <br><br>
                <h4 class="fw-bold">Projects management</h4>
                <div id="newProjectContainer">
                    <div class="form-group col-6">
                        <label for="newProjectTopic"><strong>Project Title</strong></label>
                        <input type="text" class="form-control" id="newProjectTopic" placeholder="Enter the title">
                    </div>
                    <div class="form-group col-6">
                        <label for="newProjectRepo"><strong>Project Video link</strong></label>
                        <input type="text" class="form-control" id="newProjectRepo" placeholder="Enter the link">
                    </div>
                    <div class="form-group col-12">
                        <label for="newProjectContent"><strong>Description</strong></label>
                        <textarea class="form-control" id="newProjectContent" rows="10"
                                  placeholder="Enter the description"></textarea>
                    </div>
                    <form action="https://api.imgbb.com/1/upload?key=a5b396af57e63d59b0a0c928a2f778de" method="post"
                          accept-charset="utf-8" class="form col-12" id="frm-reg-1" name="frm-reg">
                        <label for="formFile" class="form-label"><strong>Please upload the image for the project, accepted
                            formats:
                            jpg, bmp, png, jpeg, webp</strong></label>
                        <input class="form-control col-8" type="file" id="formFile-1" name="image">
                        <input class="btn btn-success btn-lg col-12 postButton  rounded-0" type="button" id="sub-1"
                               name="submit" value="confirm">
                    </form>
                </div>
                <button type="button" class="btn btn-dark btn-lg col-12 toggleButton rounded-0" id="addProject">add new
                    project
                </button>
                <hr>
                <div class="container-fluid row">
                    <br>
                    <h4 class="fw-bold col-5">Title</h4>
                    <h4 class="fw-bold col-5">Description</h4>
                    <br>
                    <hr>
                </div>
                <div id="allProjectsContainer">
                </div>
            </div>


            <div id="adminPortalForInfo" class="d-none">
                <br><br>
                <h4 class="fw-bold">Info entities management</h4>
                <div id="addContainer">
                    <div class="form-group">
                        <label for="newTopic"><strong>Topic</strong></label>
                        <input type="text" class="form-control" id="newTopic" placeholder="Enter the topic of entity">
                    </div>
                    <div class="form-group">
                        <label for="newContent"><strong>Content</strong></label>
                        <textarea class="form-control" id="newContent" rows="10"
                                  placeholder="Enter the content of entity"></textarea>
                    </div>
                    <button type="button" class="btn btn-success btn-lg col-12 postButton  rounded-0"
                            id="confirmAddInfo">
                        confirm
                    </button>
                </div>
                <button type="button" class="btn btn-dark btn-lg col-12 toggleButton rounded-0" id="addInfo">add new
                    entity
                </button>
                <hr>
                <div class="container-fluid row">
                    <br>
                    <h4 class="fw-bold col-5">Topic</h4>
                    <h4 class="fw-bold col-5">Content</h4>
                    <br>
                    <hr>
                </div>
                <div id="adminPortalForInfoContainer">
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-secondary btn-floating btn-lg" id="btn-back-to-top">
            <i class="bi bi-chevron-up"></i>
        </button>
    </main>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js"></script>
<script src="/js/general.js"></script>
<script src="/js/adminPortal-general.js"></script>
<script src="/js/adminPortal-forum.js"></script>
<script src="/js/adminPortal-news.js"></script>
<script src="/js/adminPortal-projects.js"></script>
<script src="/js/adminPortal-info.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", function (event) {

        const showNavbar = (toggleId, navId, bodyId, headerId) => {
            const toggle = document.getElementById(toggleId),
                nav = document.getElementById(navId),
                bodypd = document.getElementById(bodyId),
                headerpd = document.getElementById(headerId)
            if (toggle && nav && bodypd && headerpd) {
                toggle.addEventListener('click', () => {
                    nav.classList.toggle('show')
                    toggle.classList.toggle('bx-x')
                    bodypd.classList.toggle('body-pd')
                    headerpd.classList.toggle('body-pd')
                })
            }
        }
        showNavbar('header-toggle', 'nav-bar', 'body-pd', 'header')
        const linkColor = document.querySelectorAll('.nav_link')

        function colorLink() {
            if (linkColor) {
                linkColor.forEach(l => l.classList.remove('active'))
                this.classList.add('active')
            }
        }

        linkColor.forEach(l => l.addEventListener('click', colorLink))
    });
</script>
</body>
</html>
