<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uclibm.ixn.dao.ProjectDao">
    <resultMap id="ProjectsMap" type="Project">
        <id property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="repo" column="repo"/>
        <result property="image" column="image"/>
    </resultMap>

    <insert id="addProject" parameterType="Project">
        insert into projects values( #{title}, #{content}, #{repo}, #{image})
    </insert>
    <delete id="deleteProjectByTitle">
        delete from projects where title = #{title}
    </delete>
    <select id="getAllProjects" resultMap="ProjectsMap">
        select * from projects
    </select>

</mapper>